<li class="topic row">
  <%= link_to user_path(topic.user) do %>
      <p><span class="topic-avatar"><%= profile_img(topic.user) %></span><%= topic.user.name %></p>
  <% end %>
  <p><%= topic.content %></p>
  <p><%= topic.created_at %> / コメント（<%= topic.comments.count %>）</p>
  <%= link_to topic_path(topic), class: 'topic-link' do %>
      <p class="text-center">>> 詳細をみる</p>
  <% end %>
  <% if topic.user.id === current_user.id %>
      <div class="text-right">
        <%= link_to '編集', edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
        <%= link_to '削除', topic_path(topic.id), method: :delete, data: {confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
      </div>
  <% end %>
</li>